.root{
	-fx-background-color: rgb(32, 32, 32);
	-fx-text-fill: rgb(192, 192, 192);
}

.button {
	-fx-background-color: rgb(48, 48, 48);
	-fx-border-color: rgb(80, 80, 80);
}
.button:hover {
	-fx-background-color: rgb(64, 64, 64);
}
.button:focused {
	-fx-border-color: rgb(0, 150, 201);
}

.text {
	-fx-fill: rgb(192, 192, 192);
}

.top_controls {
	-fx-background-color: rgb(16, 16, 16);
}

.text-field {
	-fx-background-color: rgb(16, 16, 16);
	-fx-border-color: rgb(80, 80, 80);
	-fx-text-fill: rgb(192, 192, 192);
}

.issue {
	-fx-border-color: rgb(255, 0, 0);
}

.samedigit {
	-fx-background-color: rgb(50, 50, 50);
}

.notes {
	-fx-fill: rgb(127, 127, 127);
}